Header {
    background-color: #3B4B64;
    padding: 1%;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
    position: fixed;
    width: 98%;
    top: 0;
}

body { 
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 55pt;
}

h2 {
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    font-size: 42pt;
}

h3 {
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
}

p {
    color: white;
    font-family: 'Montserrat-Reg'; 
    font-size: 14pt;
    margin-block-start: 0px;
}

p {
    color: black;
    font-family: 'Montserrat-Reg'; 
    font-size: 14pt;
    margin-block-start: 0px;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    align-items: center;
    width: 1024px;
}

.flex_item:hover{
    color: #E4A01B;

}

/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #E4A01B;

} */

.herocontent {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#row {
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
}

#hero {
    background-color: #323640;
    margin-top: 119px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Reg';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

.sectionheader {
    color: #3B4B64; 
    text-align: center;
}

.sections h3 {
    color: #3B4B64; 
}

.sections {
    margin: auto;
}

.portfoliocontainer {
    display: flex;
    margin: 40px 15%;
}

.portfoliocontent {
    padding-left: 100px;
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    color: #3B4B64; 
}

.sections button {
    background-color: #E4A01B;
    color: #323640; 
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    padding: 10px;
    margin-top: 20px;
}

button:hover {
    background: #323640;
    color: white;
}

footer {
    background-color: #3B4B64;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
    padding-bottom: 20px;
    align-items: center;
}

.copyright {

    text-align: center;
}

footer .flex-parent {
    justify-content: flex-start;
}

footer img {
     margin-right: 20px;
}

.header {
    background-color: #3B4B64;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
}

.herocontent {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#row {
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
}

#hero {
    background-color: #323640;
}

#experienceheader {
    background-color: #323640;
    color: #FFFFFF;
    text-align: center;
    padding-top: 1px;
}

.uxuidesign {
    padding-left: 32%;
    padding-right: 32%;
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.downloadresume {
    background-color: #E4A01B;
    color: #323640; 
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 180px;
    align-self:flex-end;
    
}

#about > h2 {
    color: #323640; 
    text-align: center;   
}

 .sectionAboutContent {
    display: flex;
    align-items: flex-start; 
} 

#about {
    margin: 0;
    margin-bottom: 50px;
    padding-left: 32%;
    padding-right: 32%;
}

#content-left {
    margin-right: 40px;
}

.hiimjohnny {
    margin-left: 450px;
}

#aboutmephoto {
    object-fit: contain;
}

#contactheader {
    background-color: #323640;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;

}

.contactFormContainer {
    padding-top: 0%;
    margin-top: 0;
    padding-left: 32%;
    padding-right: 32%;
    /* padding: 20px; */
}

.sendButton {
    background-color: #E4A01B;
    margin-bottom: 40px;
}

@media screen and (max-width: 600) {
    
}